.osLoad{
    top: -1px;
    left: -2px;
    height: 975px;
    width: 1925px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    animation: transition-background 10s;
}
@keyframes transition-background {
    0%{animation-delay: 5s;}
    50%{top: -1px;}
    100%{top: -980px;}

}