.date {
    top: 886px;
    left: 1725px;
    font-family: arial;
    font-size: 35px;
    position: absolute;
}

.timeui {
    top: 825px;
    left: 1765px;
    font-family: arial;
    font-size: 50px;
    position: absolute;
}
.timeui2{
    top: 825px;
    left: 1816px;
    font-family: arial;
    font-size: 50px;
    position: absolute;
}
.timeui3{

    top: 819px;
    left: 1797px;
    font-family: arial;
    font-size: 50px;
    position: absolute;
}
.black1 {
    top: 905px;
    left: -9px;
    width: 1958px;
    height: 9px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}


.background1 {
    top: -4px;
    left: -9px;
    height: 909px;
    width: 2044px;
    background-image: url('hills.jpg');
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    background-repeat: no-repeat;

}

.toolbarbackground {
    top: 912px;
    left: 0px;
    width: 1921px;
    height: 103px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;

}

.button101 {
    top: -690px;
    left: -31px;
    height: 177px;
    width: 188px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
}

.taskbar1 {
    top: 400px;
    left: 400px;
    height: 100px;
    width: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
}

.ErrormessageOne {
    top: 222px;
    left: 352px;
    height: 132px;
    width: 256px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;

}

.ErrormessageTwo {
    top: 387px;
    left: 101px;
    height: 132px;
    width: 256px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
}



.ErrormessageThree {
    top: 222px;
    left: 103px;
    height: 132px;
    width: 256px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;

}

.ErrormessageFour {
    top: 40px;
    left: 24px;
    height: 132px;
    width: 256px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
}

.ErrormessageFive {
    top: 40px;
    left: 509px;
    height: 132px;
    width: 256px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;

}

.ErrormessageSix {
    top: 40px;
    left: 277px;
    height: 132px;
    width: 256px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;


}

.Memeicon1 {
    top: 270px;
    left: 281px;
    height: 63px;
    width: 71px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    cursor: pointer;
}

.Memeicon2 {
    top: 426px;
    left: 37px;
    height: 66px;
    width: 75px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    cursor: pointer;
}

.Memeicon3 {
    top: 276px;
    left: 45px;
    height: 67px;
    width: 69px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    cursor: pointer;
}

.Memeicon4 {
    top: 65px;
    left: 36px;
    height: 73px;
    width: 84px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    cursor: pointer;
}

.Memeicon5 {
    top: 65px;
    left: 442px;
    height: 74px;
    width: 79px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    cursor: pointer;
}

.Memeicon6 {
    top: 69px;
    left: 242px;
    height: 70px;
    width: 82px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    cursor: pointer;
}

.Memetitle1 {
    top: 126px;
    left: 9px;
    font-size: 18px;
    font-family: "Comic Sans MS";
    position: absolute;
}

.Memetitle2 {
    top: 133px;
    left: 198px;
    font-size: 14px;
    font-family: "Comic Sans MS";
    position: absolute;
}

.Memetitle3 {
    top: 117px;
    left: 431px;
    font-size: 21px;
    font-family: "Comic Sans MS";
    position: absolute;
}

.Memetitle4 {
    top: 336px;
    left: 9px;
    font-size: 15px;
    font-family: "Comic Sans MS";
    position: absolute;
}

.Memetitle5 {
    top: 341px;
    left: 209px;
    font-size: 13px;
    font-family: "Comic Sans MS";
    position: absolute;
}

.Memetitle6 {
    top: 483px;
    left: 61px;
    font-size: 25px;
    font-family: "Comic Sans MS";
    position: absolute;
}

.button1 {
    top: 315px;
    left: 464px;
    font-size: 15px;
    font-family: "Comic Sans Ms";
    position: absolute;
    width: 41px;
    height: -27px;

}

.button2 {
    top: 476px;
    left: 213px;
    font-size: 15px;
    font-family: "Comic Sans Ms";
    position: absolute;
    width: 41px;
    height: -27px;

}

.button3 {
    top: 311px;
    left: 213px;
    font-size: 15px;
    font-family: "Comic Sans Ms";
    position: absolute;
    width: 41px;
    height: -27px;


}

.button4 {
    top: 127px;
    left: 137px;
    font-size: 15px;
    font-family: "Comic Sans Ms";
    position: absolute;
    width: 41px;
    height: -27px;

}

.button5 {
    top: 129px;
    left: 620px;
    font-size: 15px;
    font-family: "Comic Sans Ms";
    position: absolute;
    width: 41px;
    height: -27px;

}

.button6 {
    top: 130px;
    left: 390px;
    font-size: 15px;
    font-family: "Comic Sans Ms";
    position: absolute;
    height: 30px;
    width: -27px;
}



.tip{
    top: 937px;
    left: 9px;
    font-family: 'Comic Sans Ms';
    font-size: 12px;
    position: absolute;
   
    
}
body {
    overflow: hidden;
}
@media  (max-width: 600px){
    html, body{
        margin: 0px;
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .black1 {
        top: 579px;
        left: 0px;
        width: 396px;
        height: 21px;
        position: absolute;
        overflow: hidden;
    }
    
    
    .background1 {
        top: 0px;
        left: 0px;
        height: 582px;
        width: 397px;
        background-image: url('hills.jpg');
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
        background-repeat: no-repeat;
    
    }
    
    .toolbarbackground {
        top: 586px;
        left: 0px;
        width: 396px;
        height: 121px;
        position: absolute;
        overflow-x: hidden;
        overflow-y: hidden;
    
    }
    
    .button101 {
        top: -690px;
        left: -31px;
        height: 177px;
        width: 188px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
    }
    
    .taskbar1 {
        top: 400px;
        left: 400px;
        height: 100px;
        width: 100px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
    }
    
    .ErrormessageOne {
        top: 52px;
        left: 21px;
        height: 86px;
        width: 159px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
    
    }
    
    .ErrormessageTwo {
        top: 52px;
        left: 106px;
        height: 86px;
        width: 159px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
    }
    
    
    
    .ErrormessageThree {
        top: 53px;
        left: 214px;
        height: 86px;
        width: 159px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
    
    }
    
    .ErrormessageFour {
        top: 219px;
        left: 7px;
        height: 86px;
        width: 159px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: fixed;
    }
    
    .ErrormessageFive {
        top: 219px;
        left: 209px;
        height: 86px;
        width: 159px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
    
    }
    
    .ErrormessageSix {
        top: 397px;
        left: 82px;
        height: 86px;
        width: 159px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
    
    
    }
    
    .Memeicon1 {
        top: 58px;
        left: 14px;
        height: -11px;
        width: -75px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
        cursor: pointer;
    }
    
    .Memeicon2 {
        top: 56px;
        left: 150px;
        height: -71px;
        width: -72px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
        cursor: pointer;
    }
    
    .Memeicon3 {
        top: 56px;
        left: 283px;
        height: -71px;
        width: -72px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
        cursor: pointer;
    }
    
    .Memeicon4 {
        top: 228px;
        left: 14px;
        height: -71px;
        width: -72px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
        cursor: pointer;
    }
    
    .Memeicon5 {
        top: 228px;
        left: 143px;
        height: -71px;
        width: -72px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
        cursor: pointer;
    }
    
    .Memeicon6 {
        top: 404px;
        left: 21px;
        height: -71px;
        width: -72px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
        cursor: pointer;
    }
    
    .Memetitle1 {
        top: 285px;
        left: 1px;
        font-size: 15px;
        font-family: "Comic Sans MS";
        position: absolute;
        overflow: hidden;
    }
    
    .Memetitle2 {
        top: 467px;
        left: 5px;
        font-size: 10px;
        font-family: "Comic Sans MS";
        position: absolute;
        overflow: hidden;
    }
    
    .Memetitle3 {
        top: 276px;
        left: 135px;
        font-size: 20px;
        font-family: "Comic Sans MS";
        position: absolute;
        overflow: hidden;
    }
    
    .Memetitle4 {
        top: 102px;
        left: 277px;
        font-size: 15px;
        font-family: "Comic Sans MS";
        position: absolute;
        overflow: hidden;
    }
    
    .Memetitle5 {
        top: 117px;
        left: 16px;
        font-size: 10px;
        width: 96px;
        font-family: "Comic Sans MS";
        position: absolute;
        overflow: hidden;
    }
    
    .Memetitle6 {
        top: 85px;
        left: 176px;
        font-size: 30px;
        font-family: "Comic Sans MS";
        position: absolute;
        overflow: hidden;
    }
    
    .button1 {
        top: 109px;
        left: 80px;
        font-size: 15px;
        font-family: "Comic Sans Ms";
        position: absolute;
        overflow: hidden;
        width: 41px;
        height: -27px;
    
    }
    
    .button2 {
        top: 108px;
        left: 172px;
        font-size: 15px;
        font-family: "Comic Sans Ms";
        position: absolute;
        width: 41px;
        height: -27px;
        overflow: hidden;
    
    }
    
    .button3 {
        top: 111px;
        left: 278px;
        font-size: 15px;
        font-family: "Comic Sans Ms";
        position: absolute;
        width: 41px;
        height: -27px;
        overflow: hidden;
    
    }
    
    .button4 {
        top: 275px;
        left: 70px;
        font-size: 15px;
        font-family: "Comic Sans Ms";
        position: absolute;
        width: 41px;
        height: -27px;
        overflow: hidden;
    
    }
    
    .button5 {
        top: 275px;
        left: 274px;
        font-size: 15px;
        font-family: "Comic Sans Ms";
        position: absolute;
        width: 41px;
        height: -27px;
        overflow: hidden;
    }
    
    .button6 {
        top: 456px;
        left: 147px;
        font-size: 15px;
        font-family: "Comic Sans Ms";
        position: absolute;
        height: 25px;
        width: -27px;
        overflow: hidden;
    }
    
    
    
    .tip{
        top: 636px;
        left: 5px;
        font-family: 'Comic Sans Ms';
        font-size: 12px;
        position: absolute;
        overflow: hidden;
}
}
