.container{
    top: 460px;
    left: 710px;
    width: 442px;
    height: 15px;
    position: relative;
    background-color: gray;
    animation: transition-out2 10s;
    position: absolute;
    overflow: hidden;
}
.container .progress-bar {
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    background-color: aqua; 
    animation: progress-animation 5s forwards, transition-out 20s ;
    animation-timing-function: linear;
    overflow: hidden;

}

@keyframes progress-animation {
    0% {width: 0%;}
    100% {width: 100%}
}
@keyframes transition-out{
    0% {animation-delay: 5s;}
    50% {left: 0px;}
    100% {left: -1164px;}
}
@keyframes transition-out2{
    0% {animation-delay: 10s;}
    50% {left: 710px;}
    100% {left: -1164px;}

}
@media (max-width: 600px){{
    .container{
        top: 309px;
        left: 14px;
        width: 342px;
        height: 15px;
        overflow: hidden;
        position: relative;
        background-color: gray;
        animation: transition-out2 10s;
        position: absolute;
    }
    .container .progress-bar {
        top: 0px;
        left: 0px;
        position: absolute;
        height: 100%;
        background-color: aqua; 
        animation: progress-animation 5s forwards, transition-out 20s ;
        animation-timing-function: linear;
        overflow: hidden;
    }    
    @keyframes progress-animation {
        0% {width: 0%;}
        100% {width: 100%}
    }
    @keyframes transition-out{
        0% {animation-delay: 5s;}
        50% {left: 0px;}
        100% {left: -1164px;}
    }
    @keyframes transition-out2{
        0% {animation-delay: 10s;}
        50% {left: 14px;}
        100% {left: -700px;}
    
    }
}
